.link-pointer, .btn {
	cursor:pointer;
}

body {
	padding-top:32px;
	padding-bottom:32px;
}

.credits {
	position:fixed;
	bottom:0;
	right:0;
	padding:8px;
	text-align:right;
	line-height:1em;
}

.btn.btn-light {
	background-color: #e7e8e8;
}

.btn.btn-light.active {
	box-shadow: 0 0 0 0.2rem rgba(134,142,150,.5);
	z-index:100 !important;
}

.item-grid {
	text-align:center;
}

.item-grid table {
	max-width:400px;
}

.item-grid table td {
	padding:0;
	margin:0;
	border-color:#EEE;
	border-width:2px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	image-rendering: pixelated;
}

.item-grid table td:hover {
	background-color:#EEE;
}

.form-check-input {
	margin-left:0; /* undo bootstrap's margin */
}

.smallmargin p {
	margin-bottom:4px;
}

table td small {
	color:#199a03!important;
	display:block;
	margin-top:8px;
	line-height:1.2;
}

.version-title {
	font-weight:500;
	line-height:1.2;
	font-size:1.25rem;
	margin-right:16px;
}

.card {
	margin-bottom:16px;
}

.extra-hide {display:none!important;}

.question-icon {
	color: white;
	background-color: black;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	padding-left: 4.5px;
	vertical-align: top;
	font-weight: 700;
}

.dropdown-item.active .text-muted {
	color:white !important;
}

.close {
	position: absolute;
	top: 16px;
	right: 16px;
}

.table-borderless td, .table-borderless th {
	border: 0;
}

.table-padless td, .table-padless th {
	padding: 0;
}

.table-padless th {
	width: 1%;
	padding-right: 8px;
}

/* some dark theme fixes */
.text-light .text-muted {
	color: #41474c !important;
}

.bg-dark .close {
	text-shadow: none;
}

.no-results {
	background-color: transparent !important;
}

.form-control.bg-secondary::placeholder {
	color: #5a5f64 !important;
}

.dropdown-item.text-light:hover {
	background-color: #596066;
}

.fix-rounded-corners {
	border-top-right-radius:  0.25rem !important;
	border-bottom-right-radius:  0.25rem !important;
}

.bootstrap-select .dropdown-menu .dropdown-item > .text {
	width: 100%;
}
.bootstrap-select.nopadding .dropdown-menu .dropdown-item {
	padding: 0;
}

.table-xs td, .table-xs th {
	padding: 0.1rem;
}

.recipe-search-result .row {
	cursor: pointer;
}

.recipe-search-result .row:hover {
	background-color: rgba(0,0,0,0.1);
}


.bg-danger .text-muted {
	color: black !important;
}

/* DARK THEME */

body.dark-theme .btn.btn-light:not([disabled]):not(.disabled) {
	/* btn-secondary */
    color: #fff;
    background-color: #6c757d;
    border-color: #666e76;
}

body.dark-theme,
body.dark-theme .card {
    background-color: #343a40!important; /* bg-dark */
}

body.dark-theme .form-control, 
body.dark-theme .bootstrap-select, 
body.dark-theme .bootstrap-select .dropdown-menu {
	background-color: #868e96!important; /* bg-secondary */
}

body.dark-theme .small {
	color: #868e96!important; /* text-secondary */
}

body.dark-theme .card-title,
body.dark-theme .card-body,
body.dark-theme .form-control,
body.dark-theme .table,
body.dark-theme .label,
body.dark-theme .bootstrap-select .filter-option,
body.dark-theme .bootstrap-select .dropdown-menu,
body.dark-theme .bootstrap-select .dropdown-menu .dropdown-item,
body.dark-theme .bootstrap-select .dropdown-menu .dropdown-header,
body.dark-theme .text {
	color: #f8f9fa!important; /* text-light */
}

body.dark-theme .bootstrap-select .text-muted {
	color: #323232 !important;
}

body.dark-theme .bootstrap-select .dropdown-menu .dropdown-item:hover {
	background-color: #00000026;
}

body.dark-theme .bootstrap-select .dropdown-menu .dropdown-item .bg-secondary {
	background-color: #343a40!important;
}

body.dark-theme .bg-warning {
	color: black;
}

body.dark-theme input::placeholder {
	color: white;
}