.link-pointer {
	cursor:pointer;
}

body {
	padding-top:32px;
	padding-bottom:32px;
}

.credits {
	position:fixed;
	bottom:0;
	right:0;
	padding:8px;
	text-align:right;
	line-height:1em;
}

.btn-light {
	background-color: #e7e8e8 !important;
}
